
<%- include ('../layourts/header') -%>
<%- include ('../layourts/sidebar') -%>
      
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <%- include ('../layourts/topbar2') -%>
               
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Table des Mariages</h1>
     
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Numero de declaration</th>
                                            <th>Nom Epoux</th>
                                            <th>Nom Epouse</th>
                                            <th>Nationalité Epoux</th>
                                            <th>Nationalité Epouse</th>
                                            <th>Statut de la publication</th>
                                           
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Numero de declaration</th>
                                            <th>Nom Epoux</th>
                                            <th>Nom Epouse</th>
                                            <th>Nationalité Epoux</th>
                                            <th>Nationalité Epouse</th>
                                            <th>Statut de la publication</th>
                                           
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <% data.forEach((elm , index)=>{ %>
                                        <tr>
                                            <td> <%= elm.num_dec %></td>
                                            <td> <%= elm.noms_epoux %></td>
                                            <td> <%= elm.noms_epouse %></td>
                                            <td> <%= elm.nationalite_epoux %></td>
                                            <td> <%= elm.nationalite_epouse %></td>
                                            <td> <%= elm.libelle %></td>

                                        </tr>
                                        <% }); %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <%- include ('../layourts/footer') -%>