<%- include ('../layourts/header') -%>
    <%- include ('../layourts/sidebar' , entity_name  ) -%>

        <div id="content-wrapper" class="d-flex flex-column">

            <div id="content">

                <%- include ('../layourts/topbar', date , heure) -%>
                    <!-- Begin Page Content -->
                    <div class="container-fluid">

                        <!-- Page Heading -->
                        <div class="d-sm-flex align-items-center justify-content-between mb-4">
                            <h1 class="h3 mb-0 text-gray-800"><%= entity_name %></h1>

                        </div>

                        <!-- Content Row -->
                        <div class="row">

                            <div class="col-xl-3 col-md-6 mb-4">
                                <div class="card border-left-success shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                    <a  class="text-xs font-weight-bold text-success text-uppercase mb-1" href="/genereNaissanceTable">  Nombre d'acte généré</a>
                                                    </div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800"><%= Nombre_sexe[0].Nombre %> </div>
                                            </div>
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-3 col-md-6 mb-4">
                                <div class="card border-left-success shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                    <a class="text-xs font-weight-bold text-success text-uppercase mb-1" href="/dec_naiss"> Nombre de déclaration de naissance total</a>
                                                   </div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800"> <%= nombre_dec%></div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                          
                            <div class="col-xl-3 col-md-6 mb-4">
                                <div class="card border-left-success shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                    LE NOMBRE D’ENFANT HORS MARIAGE </div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800"><%= hors_mariage %> </div>
                                            </div>
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>   <div class="col-xl-3 col-md-6 mb-4">
                                <div class="card border-left-success shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                    Nombre d'acte archivé au Siege BUNEC</div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800"> <%= archive %>  </div>
                                            </div>
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6 mb-4">
                                <div class="card border-left-info shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                                   Nombre de pere sans profession
                                                </div>
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col-auto">
                                                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800"><%=pere_s_p %>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6 mb-4">
                                <div class="card border-left-info shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                                   Nombre de pere ayant une profession
                                                </div>
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col-auto">
                                                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800"><%=pere_a_p %>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6 mb-4">
                                <div class="card border-left-info shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                                   Nombre de declaration provenant des FOSA
                                                </div>
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col-auto">
                                                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800"><%=fosa %>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> 
                      
                           
                            </div>
                            
                        </div>

                        <!-- Content Row -->
                        <div class="row">
                            <button class="btn btn-primary btn-show" onclick="toggleEl()">Ouvrir la table des statistiques</button>

                            <div class="card shadow mb-4" id="show-table">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" width="100%" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th class="text-success">Region</th>
                                                    <th class="text-success">Departement </th>
                                                    <th class="text-success">Arrondissement</th>
                                                    <th class="text-success">Nom CEC</th>
                                                    <th class="text-success">Statut de L'acte</th>
                                                    <th class="text-success">Sexe</th>
                                                    <th class="text-success">Nombre</th>
                                                </tr>
                                            </thead>
                                            <div>
                                                <p class="text-primary" style="font-size: 25px; text-align: center;"> Table des actes avec les statuts</p>
                                            </div>
                                            <tbody>

                                                <% data.forEach((elm)=>{ %>

                                                    <tr>
                                                        <td>
                                                            <%= elm.libelle_region %>
                                                        </td>
                                                        <td>
                                                            <%= elm.libelle_departement %>
                                                        </td>
                                                        <td>
                                                            <%= elm.libelle_arrondissement %>
                                                        </td>
                                                        <td>
                                                            <%= elm.nomcec %>
                                                        </td>
                                                        <td>
                                                            <%= elm.libelle %>
                                                        </td>
                                                        <td>
                                                            <%= elm.sexe %>
                                                        </td>
                                                        <td>
                                                            <%= elm.Nombre %>
                                                        </td>
                                                    </tr>
                                                    <% }); %>
                                            </tbody>
                                        </table>
                                    </div>
                                    <table class="table table-bordered" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th class="text-success">Region</th>
                                                <th class="text-success">Departement </th>
                                                <th class="text-success">Arrondissement</th>
                                                <th class="text-success">Nom CEC</th>
                                                <th class="text-success">Statut de L'acte</th>
                                                <th class="text-success">Sexe</th>
                                                <th class="text-success">Nombre</th>
                                            </tr>
                                        </thead>
<div>
    <p class="text-primary" style="font-size: 25px; text-align: center;"> Table des actes générés uniquement</p>
</div>
                                        <tbody>

                                            <% datapro.forEach((elm)=>{ %>

                                                <tr>
                                                    <td>
                                                        <%= elm.libelle_region %>
                                                    </td>
                                                    <td>
                                                        <%= elm.libelle_departement %>
                                                    </td>
                                                    <td>
                                                        <%= elm.libelle_arrondissement %>
                                                    </td>
                                                    <td>
                                                        <%= elm.nomcec %>
                                                    </td>
                                                    <td>
                                                        <%= elm.libelle %>
                                                    </td>
                                                    <td>
                                                        <%= elm.sexe %>
                                                    </td>
                                                    <td>
                                                        <%= elm.Nombre %>
                                                    </td>
                                                </tr>
                                                <% }); %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>



                        <% datapro.forEach((elm)=>{ %>
                            <button class="deroule">
                                <%= elm.libelle_region %>
                            </button>
                            <div class="panel">

                                <div class="row">
                                    <p>
                                        <%= elm.libelle_departement %>
                                    </p>
                                    <p>
                                        <%= elm.libelle_arrondissement %>
                                    </p>
                                    <p>
                                        <%= elm.nomcec %>
                                    </p>
                                    <p class="text-success">
                                        <%= elm.libelle %>
                                    </p>
                                    <p>
                                        <%= elm.sexe %>
                                    </p>
                                    <p>
                                        <%= elm.Nombre %>
                                    </p>
                                </div>
                            </div>

                            <% }); %>


                                <div class="row">

                                    <!-- Area Chart -->
                                    <div class="col-xl-8 col-lg-7">
                                        <div class="card shadow mb-4">
                                            <div class="card-body">
                                                <div class="table-responsive">
                                                    <table class="table table-bordered"  width="100%" cellspacing="0">
                                                        <thead>
                                                            <tr>
                                                                <th class="text-success">Statistiques  des actes déclarés</th>
                                                                <th>Nombre</th>
                        
                                                            </tr>
                                                        </thead>
                                                       
                                                        <tbody>
                                                            <% sexePorption.forEach((elm , index)=>{ %>
                                                            <tr>
                                                                <td> <%= elm.sexe %></td>
                                                                <td> <%= elm.Nombre %></td>
                                                            </tr>
                                                            <% }); %>
                                                        </tbody>
                                                    </table>
            
                                            </div>
                                        </div>
                                    </div>
                                   
                                    <!-- Pie Chart -->
                                  
                                    <div class="card-body shadow">
                                        <table class="table table-bordered"  width="100%" cellspacing="0">
                                            <thead> <p class="text-success">LA Nationalité DES PARENTS(Mere)</p>
                                                <tr>
                                                    <th class="text-success">Nationalité de la mere</th>
                                                    <th>Nombre</th>
            
                                                </tr>
                                            </thead>
                                           
                                            <tbody>
                                                <%       mere_nat.forEach((elm , index)=>{ %>
                                                <tr>
                                                    <td> <%= elm.nationalite_mere %></td>
                                                    <td> <%= elm.Nombre %></td>
                                                </tr>
                                                <% }); %>
                                            </tbody>
                                        </table>   
                                        <table class="table table-bordered"  width="100%" cellspacing="0">
                                            <thead> <p class="text-success">LA Nationalité DES PARENTS(Pere)</p>
                                                <tr>
                                                    <th class="text-success">Nationalité du pere</th>
                                                    <th>Nombre</th>
            
                                                </tr>
                                            </thead>
                                           
                                            <tbody>
                                                <% pere_nat.forEach((elm , index)=>{ %>
                                                <tr>
                                                    <td> <%= elm.nationalite_pere %></td>
                                                    <td> <%= elm.Nombre %></td>
                                                </tr>
                                                <% }); %>
                                            </tbody>
                                        </table> 
                                        <table class="table table-bordered"  width="100%" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th class="text-success">Statistiques sur sexe des actes généres</th>
                                                    <th>Nombre</th>
            
                                                </tr>
                                            </thead>
                                           
                                            <tbody>
                                                <% sexePorptionGenere.forEach((elm , index)=>{ %>
                                                <tr>
                                                    <td> <%= elm.sexe %></td>
                                                    <td> <%= elm.Nombre %></td>
                                                </tr>
                                                <% }); %>
                                            </tbody>
                                        </table>   
                                      <div>  <p class="text-success">Proportion en sexe des actes généres</p></div>
                                        <div class="chart-bar pt-4 pb-2">
                                                 <canvas id="statusProportion"></canvas>
                                          
                                        </div>
                                       
                                    </div>
                                </div>

                                
                <!-- Pie Chart -->
                <div class="col-xl-4 col-lg-5">
                    <div class="card shadow mb-4">
                        <!-- Card Header - Dropdown -->

                        <!-- Card Body -->
                        <div class="card-body">
                            <div>  <p class="text-success" style="font-weight: bold;">Proportion en sexe des actes declarés</p></div>
                        <div class="card-body">
                            <div class="chart-pie pt-4 pb-2">
                                <canvas id="sexePorportion"></canvas>
                            </div>
                           
                        </div>
                    </div>
                </div>



                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-success">Statistiques la situation matrimoniale de la mère</h6>
                        </div>
                        <div class="card-body">

                 <div class="table-responsive">
                    <table class="table table-bordered"  width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th class="text-success">Nom du  Status</th>
                                <th>Nombre Obtenu</th>

                            </tr>
                        </thead>
                       
                        <tbody>
                            <% plotMatri.forEach((elm , index)=>{ %>
                            <tr>
                                <td> <%= elm.situation_matrimoniale_mere %></td>
                                <td> <%= elm.nombre %></td>
                            </tr>
                            <% }); %>
                        </tbody>
                    </table>

                    <div class="card-body">
                        <div class="chart-bar">
                            <canvas id="matriProportion"></canvas>
                        </div>
                    </div>
                        </div>
                    </div>

                    <!-- Approach -->
                  
                </div>
            </div>


                    </div>

                  
            <script>
                 let sexeP = <%- JSON.stringify(sexePorption) %> ;
                 let data_label_matrimoniale =  <%- JSON.stringify(plotMatri) %> ;
                 let data_label_status =  <%- JSON.stringify(sexePorptionGenere) %> ;
 function generatePDF() {
  
    var element = document.getElementById('content-wrapper');
var opt = {
  margin:       0,
  filename:     'statistique_naissance.pdf',
  image:        { type: 'jpeg', quality: 0.98 },
  html2canvas:  { scale: 2 },
  jsPDF:        { unit: 'in', format: 'letter', orientation: 'portrait' }
};

html2pdf().set(opt).from(element).save();

}
            </script>
            <%- include ('../layourts/footer') -%>  